.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  padding: 10px 30px;
}

.logo {

}

.logoLink {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  font-family: Cabin;
  font-size: 25px;
}

.logoLink > * {
  margin: 0 10px;
}

.logoImg {
  width: 40px;
}
