.loginButton {
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: #fff;
  font-size: 18px;
  padding: 7px 15px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #00448e;
}
